@use "../../assets/styles/" as *;

.EditStatusModal {
  width: 50vw;
  height: 50vh;
  background: $primary;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 32px;
  border: 1px solid #dddddd;
  box-shadow: 2px 1px 2px rgba(0, 22, 71, 0.045);
  row-gap: pixRem(14);
  padding: 32px;
  text-align: center;

  @include md() {
    width: 80vw;
    height: auto;
  }

  @include sm() {
    width: 95vw;
    height: auto;
    row-gap: pixRem(18);
  }

  .header {
    @include sm() {
      display: none;
    }

    h1 {
      font-weight: 600;
      font-size: 30px;
      line-height: 36px;
      color: $mainFont;

      @include sm() {
        font-size: 28px;
        line-height: 30px;
        text-align: center;
      }
    }
  }

  .invoice_details {
    display: flex;
    column-gap: 28px;
  }

  .btn_container {
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    @include sm() {
      display: none;
    }

    .complete_btn {
      border-radius: 20px;
      background-color: green;
      color: #ffffff;
      width: 160px;
      padding: 12px 12px;
      text-align: center;
      border: none;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      cursor: pointer;
      font-family: "Sora", sans-serif;
      box-shadow: 3px 2px 4px rgba(0, 23, 71, 0.15);
      transition: all ease 0.2s;
    }

    .complete_btn:hover {
      background-color: rgb(61, 251, 61);
    }

    .pending_btn {
      border-radius: 20px;
      background-color: yellow;
      color: #ffffff;
      width: 160px;
      padding: 12px 12px;
      text-align: center;
      border: none;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      cursor: pointer;
      font-family: "Sora", sans-serif;
      box-shadow: 3px 2px 4px rgba(0, 23, 71, 0.15);
      transition: all ease 0.2s;
    }

    .pending_btn:hover {
      background-color: rgb(244, 244, 120);
    }

    .late_btn {
      border-radius: 20px;
      background-color: red;
      color: #ffffff;
      width: 160px;
      padding: 12px 12px;
      text-align: center;
      border: none;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      cursor: pointer;
      font-family: "Sora", sans-serif;
      box-shadow: 3px 2px 4px rgba(0, 23, 71, 0.15);
      transition: all ease 0.2s;
    }

    .late_btn:hover {
      background-color: rgb(255, 90, 90);
    }
  }

  .close_button {
    border-radius: 20px;
    background-color: red;
    color: #ffffff;
    width: 160px;
    padding: 12px 12px;
    text-align: center;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;
    font-family: "Sora", sans-serif;
    box-shadow: 3px 2px 4px rgba(0, 23, 71, 0.15);
    transition: all ease 0.2s;

    margin: 40px;

    @include sm() {
      display: none;
    }
  }

  .close_button:hover {
    background-color: rgb(255, 90, 90);
  }
}

.mobile_message {
  display: none;

  @include sm() {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    row-gap: 30px;

    width: 100%;
    height: 100%;

    border: 1px solid #dddddd;
    box-shadow: 2px 1px 2px rgba(0, 22, 71, 0.045);

    padding: 28px;
  }

  img {
    width: 40%;
    height: auto;
    margin-bottom: 80px;
  }

  .mobile_close_button {
    @include sm() {
      border-radius: 20px;
      background-color: $danger;
      color: #ffffff;
      width: 160px;
      padding: 12px 12px;
      text-align: center;
      border: none;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      cursor: pointer;
      font-family: "Sora", sans-serif;
      box-shadow: 3px 2px 4px rgba(0, 23, 71, 0.15);
      transition: all ease 0.2s;
    }
  }
}
